extends layout

block content
  
  div(class="container")
  div(class="row")
    div(class="col-2")
    div(class="col-8 txt-center")
        h1= title
        if uname
            h2 welcome #{uname}
        else
            form(action="/api/login/", method="post" class="login")
                div(class="form-group")
                    label(for="username") brugernavn:
                    input(type="text", name="username" class="up")
                    label(for="psw") kodeord:
                    input(type="password", name="psw" class="down")
                    input(type="submit", name="submit" value="login") 
    div(class="col-2")
    div(class="row")
        br
        hr
        br
    div(class="row")
        div(class="col-2")
        div(class="col-8 txt-center")
            table(class="table")
                tr
                    thead
                        th Navn
                        th Hjemhavn
                        th Kaldesignal
                        th MMSI
                        th Anvendelse
                        th BRT
                        th Længde
                        th Max Antal Om Bord
                        th Fart
                        th Kurs
                        th GPS
                        th Vindretning
                        th Vindstyrke
                each ship in ships
                    tr 
                        td=ship.navn
                        td=ship.hjemhavn
                        td=ship.kaldesignal
                        td=ship.MMSI
                        td=ship.anvendelse
                        td=ship.BRT
                        td=ship.længde
                        td=ship.max_antal_personer
                        td=ship.fart
                        td=ship.kurs
                        td=`${ship.gps_længde} , ${ship.gps_bredte}`
                        td=ship.vindretning
                        td=ship.vindstyrke
        div(class="col-2")

  script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")